body {
  background-color: #F4F6F9; /* Vaaleanharmaa taustaväri */
  font-family: Arial, sans-serif; /* Selkeämpi fontti */
}

.vihrea-tausta {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #4CAF50; /* Vaaleanharmaa taustaväri headerille */
  text-align: center; /* Keskitetty teksti headerissä */
  height: 100px; /* Headerin korkeus */
  row-gap: 0px;
  padding: 20px; /* Sisäinen täyte headerissä */
}

.menu {
  display: flex;
  justify-content: center;
  background-color: #343A40; /* Tummanharmaa taustaväri valikolle */
  overflow: hidden; /* Piilota ylivuotava sisältö */
}

.menu ul{
  display: flex;
  column-gap: 30px;
  padding: 10px;
}

.menu li{
  color: white;
  list-style-type: none;
  font-size: 14px;
}



h1 {
  color: navy; /* Otsikon väri laivastonsiniseksi */
}

h2 {
  color: #FFFFFF
}

h3 {
  color: #047BFF
}

h6 {
  color: #FFFFFF
}

body section{
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  row-gap: 50px;
}

.textbox {
  background-color: white;
  width: 720px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,.3) 0 0 40px -10px;
}

.textbox h3 {
  margin-bottom: 10px;
}

.textbox table {
  
}